head {
	text-align: center;
	text-transform: capitalize;
	color: yellow;
	font-family: Arial, "MS Trebuchet", sans-serif;
}
#container {
	margin-left: auto;
	margin-right: auto;
	width: 540px;
	height: 125px;
	background-color: black;	
}
#leftside {
	float: right;
	width: 125px;
	height:540px;
	background-color: red;
}
#main {
	float: left;
	width: 525px;
	height: 510px;
	background-color: green;
}
#rightside {
	float: right;
	width: 125px;
	height: 540px;
	background-color: red;
}
#header {
	width: 540px;
	height: 120px;
	background-color: blue; 
}
#content {
	text-align: right;
	text-transform: uppercase;
	color: blue;
	font-family: Arial, "MS Trebuchet", sans-serif;
}
#nav {
	text-align: right;
	text-transform: capitalize;
	color: green;
	font-family: Verdana, "MS Trebuchet", sans-serif;
}