{% extends "layout.jinja2" %}
{% block content %}
  <div>
		{# consider using include instead #}
		{% include "nav.jinja2" %}
  </div>

  <div id="main">
    <div class="image">
      <img src="{{ page.image }}">
    </div>
  </div>

  <div>
		{% include "nav.jinja2" %}
  </div>
{% endblock %}
